# Install latest from main branch:
#   pip install --no-cache-dir -r requirements-from-github.txt
#
# To upgrade an existing install to the latest:
#   pip install --upgrade --force-reinstall --no-cache-dir -r requirements-from-github.txt
#
https://github.com/satishchauhan66/Data-validation-module/archive/refs/heads/main.zip
