# Install latest from main branch:
#   pip install -r requirements-from-github.txt
# To force upgrade to latest: pip install --upgrade --force-reinstall -r requirements-from-github.txt
datavalidation @ git+https://github.com/satishchauhan66/Data-validation-module.git@main
